name: tflint, trivy, checkov 

trigger: none

pool:
  name: Pradip_learning

stages:
  - stage: Scanning
    jobs:
      - job:
        steps:
        - task: tfsec@1
          displayName: Tfsec
          inputs:
            version: 'v1.26.0'
            dir: '.'
        - task: CmdLine@2
          
          displayName: Tflint
          inputs:
            script: 'tflint --recursive'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
          continueOnError: true
        - task: PublishTestResults@2
          inputs:
            testResultsFormat: 'JUnit'
            testResultsFiles: 'test.xml'
        - task: CmdLine@2
          
          displayName: allexecution
          inputs:
            script: '.\run_all_folders_with_provider.ps1'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
          continueOnError: true