name: tflint, trivy, checkov 

trigger: none

pool:
  name: Pradip_learning

stages:
  - stage: tfsec
    jobs:
      - job:
        steps:
        - task: tfsec@1
          inputs:
            version: 'v1.26.0'
            dir: '.'
