name: tflint, trivy, checkov 

trigger: none

pool:
  name: Pradip_learning

stages:
  - stage: tflint
    jobs:
      - job:
        steps:
          - 
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'tflint.exe'