name: tflint, trivy, checkov 

trigger: none

pool:
  name: Pradip_learning

stages:
  - stage: tfsec
    jobs:
      - job:
        steps:
        - task: tfsec@1
          displayName: Tfsec
          inputs:
            version: 'v1.26.0'
            dir: '.'
        - task: CmdLine@2
          
          displayName: Tflint
          inputs:
            script: 'tflint --recursive junit > test.xml'
            workingDirectory: '.'
          continueOnError: true
        - task: PublishTestResults@2
          inputs:
            testResultsFormat: 'JUnit'
            testResultsFiles: 'test.xml'